body{
    background-color: black;
    padding: 0;
}

h1{
    text-align: center;
    padding: 30px;
    background-color: blue;
    
}

.container{
    color: white;
    font-family: cursive;
    margin: 20;
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
    margin: 50px;
}
    
    
